* {
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
}

h1 {
    font-size: 50px;
    background-color: red;
    text-align: center;
    color: yellow;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.recipe-item {
    background-color: orange;
    color: blue
}

img {
    display: block;
    margin-top: 0;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div {
    box-sizing: border-box;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.description {
    background-color: lightsalmon;
}

.ingredient {
    background-color: lightblue;
}

.step {
    background-color: lightpink;
}

.home {
    width: auto;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
}